<% provide(:title, 'Sign in') %>
<h1 style = "text-align:center">Sign in</h1>

<%= form_for(:session, url: sessions_path) do |f| %>


<div class="user-field">
  <strong>Email</strong><br>
  <%= f.text_field :email, class: "form-control" %>
</div>
<div class="user-field">
  <strong>Password</strong><br>
  <%= f.password_field :password, class: "form-control" %>
</div>
<br>
<div class="links" >
  <%= f.submit "Sign in", class:"btn btn-primary"  %>
</div>

<% end %>

<p>New user? <%= link_to "Sign up", signup_path %></p>