<%= form_for(@content) do |f| %>
  <% if @content.errors.any? %>
    <div id="error_explanation" class="alert alert-danger">
      <h2><%= pluralize(@content.errors.count, "error") %> prohibited this content from being saved:</h2>
  
      <ul>
      <% @content.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
    <br>
	<div class="field">
    <strong>Code</strong><br>
    <%= f.text_field :code, class: "form-control" %>
  </div>
	 <br>
	<div class="field">
    <strong>Category</strong><br>
    <%= f.text_area :cat, class: "form-control", rows: "4" %>
  </div>
    <br>
	<div class="field">
    <strong>Description</strong><br>
    <%= f.text_area :desc, class: "form-control", rows: "5" %>
  </div>
  <br>
  <div class="field">
    <strong>Section</strong>  <br>
    <%= f.text_field :section, class: "form-control" %>
  </div>
    <br>
  <div class="field">
    <strong>Context</strong>  <br>
    <%= f.text_field :context, class: "form-control" %>
	</div>
	<br>
  <div class="actions" >
    <%= f.submit class:"btn btn-primary"%>
  </div>
<% end %>
