<table class="table table-bordered">
  

  <tbody>
    <% @contents.each do |content| %>
      
      <div class="panel panel-primary">
        <div class="panel-heading">
            <strong><%= content.code %></strong>
        </div>
        <%= link_to content do%>
        <div class="panel body" id="content-panel">
          <p><strong><%= simple_format content.cat %></strong></p>
          <p><%= simple_format content.desc %></p>  
        </div>

        <div class="links">
            <% if current_user.admin? %>
            <%= link_to 'Edit', edit_content_path(content) %> |
            <%= link_to 'Delete', content, method: 
                        :delete, data: { confirm: 'Are you sure?' } %>
            <% end %>
        </div>
        <% end %>
      </div>
    <% end %>
  </tbody>
</table>
          
        
    




