<% provide(:title, @content.code) %>
<p id="notice"><%= notice %></p>

<p>
<h4><strong>Code</strong></h4>
  <%= @content.code %>
</p>

<p>
 <h4><strong>Category</strong></h4>
  <%= @content.cat %>
</p>

<p>
 <h4><strong>Description</strong></h4>
  <%= simple_format @content.desc %>
</p>

<p>
 <h4><strong>Context</strong></h4>
  <%= @content.context %>
</p>
<br>
<p>
 <h4><strong>Comments</strong></h4>
   <%= render :partial => @content.comments %>
</p>
<br>
<h3>New Comment</h2>
 <div id="comments">
 </div>
 <%= form_for [@content, Comment.new] do |f| %>
		<div class="field">
      <%= f.text_area :body, class: "form-control", rows: "5", width:"300px"%>
		</div>
		<div class="actions"> <br>
			<%= f.submit "Add comment", class: "btn btn-primary btn-sm" %>
		</div>
<% end %>
	<div class="links">
			<%= link_to 'Edit', edit_content_path(@content) %> |
			<%= link_to 'Back', contents_path %>
	</div>
