<% provide(:title, @content.code) %>
<p id="notice"><%= notice %></p>


<div class="panel panel-primary">
	<div class="panel-heading">
		<h3><strong><%=@content.code%>  : <%=@content.context %></strong></h3>
	</div>
	<div class="panel-body">
		<p><h4><strong><%=simple_format @content.cat %></strong></h4></p>
		<p><%=simple_format @content.desc %></p>
	</div>
</div>

<div class="panel panel-default">
  <div class="panel-heading" style="background-color:#E4ECFF">
  	<h4><strong>Comments</strong></h4>
  </div>
  <div class="panel-body">
    <%= render :partial => @content.comments %>
  	<div class="divider"></div>
  	<h4>New Comment</h4>
 <div id="comments">
 </div>
 <%= form_for [@content, Comment.new] do |f| %>
		<div class="field">
      <%= f.text_area :body, class: "form-control", rows: "5", width:"300px"%>
		</div>
		<div class="actions"> <br>
			<%= f.submit "Add comment", class: "btn btn-primary btn-sm" %>
		</div>
<% end %>
  </div>

</div>
