<div class="container">
<% provide(:title, @content.code) %>
<p id="notice"><%= notice %></p>

<p>
  <h4>Code</h4>
  <%= @content.code %>
</p>

<p>
  <h4>Category</h4>
  <%= @content.cat %>
</p>

<p>
  <h4>Description</h4>
  <%= simple_format @content.desc %>
</p>

<p>
  <h4>Context</h4>
  <%= @content.context %>
</p>


<h2 style = "text-align:center;">Comments</h2>
 <div id="comments">
   <%= render :partial => @content.comments %>
 </div>

 <%= form_for [@content, Comment.new] do |f| %>
		<div class="field">
      <%= f.text_area :body, class: "form-control", rows: "5", width:"300px"%>
		</div>
		<div class="actions"> <br>
			<%= f.submit "Add comment", class: "btn btn-primary btn-sm" %>
		</div>
<% end %>
	<div class="links">
			<%= link_to 'Edit', edit_content_path(@content) %> |
			<%= link_to 'Back', contents_path %>
	</div>
</div