<p id="notice"><%= notice %></p>

<p>
  <strong>Code:</strong><br>
  <%= @content.code %>
</p>

<p>
  <strong>Category:</strong><br>
  <%= @content.cat %>
</p>

<p>
  <strong>Description:</strong><br>
  <%= simple_format @content.desc %>
</p>

<p>
  <strong>Context:</strong><br>
  <%= @content.context %>
</p>

<%= link_to 'Edit', edit_content_path(@content) %> |
<%= link_to 'Back', contents_path %>
