<%= form_for(@user) do |f| %>
  <% if @user.errors.any? %>
    <div id="error_explanation" class="alert alert-danger">
      <h2><%= pluralize(@user.errors.count, "error") %> prohibited this user from being saved:</h2>

      <ul>
      <% @user.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="user-field">
    <strong>Name</strong><br>
    <%= f.text_field :name, class: "form-control" %>
  </div>
    <br>
  <div class="user-field">
    <strong>Email</strong><br>
    <%= f.text_field :email, class: "form-control", rows: "4" %>
  </div>
    <br>
  <div class="user-field">
    <strong>Password</strong><br>
    <%= f.password_field :password, class: "form-control", rows: "4" %>
  </div>
    <br>
  <div class="user-field">
    <strong>Password_Confirmation</strong><br>
    <%= f.password_field :password_confirmation, class: "form-control", rows: "4" %>
  </div>
    <br>

  <div class="actions">
    <%= f.submit "Save changes", class: "btn btn-primary" %>
  </div>

<% end %>
