<nav class="navbar navbar-default navbar-fixed-top navbar-inverse " role="navigation">
	<a class="navbar-brand">
		<%= link_to "WriteUp Manual",contents_path, id: "logo" %>	
	</a>

	<form class="navbar-form navbar-left navbar-inverse" role="search">
  		<div class="form-group">
    		<input type="text" class="form-control" placeholder="Search" style="background-color:gray; border:black;">
  		</div>
	</form>
	
	<ul class="nav navbar-nav navbar-right">
      <li><%= link_to 'Home', home_path %></li>
      <li><%= link_to 'Help', help_path %></li>
      <li><%= link_to 'Version', '#' %></li>

<!--DROP DOWNS (LOGIN SPECIFIC)      -->
      <% if signed_in? %>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown"><span style = "font-size:18px;" class="glyphicon glyphicon-list"></span></a>
          <ul class="dropdown-menu">
            <li style="text-align:center; font-size:18px">Table of Contents</li><br>
            <li><a href="#">Another action</a></li>
            <li><a href="#">Something else here</a></li>
            <li class="divider"></li>
            <li><a href="#">Separated link</a></li>
          </ul>
        </li>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown"><span style = "font-size:19px;" class="glyphicon glyphicon-cog"></span></a>
          <ul class="dropdown-menu">
            <li><%= link_to "Profile", current_user %></li>
            <li><%= link_to "Settings", edit_user_path(current_user) %></li>
            <li><%= link_to "List Users", users_path %></li>
            <li class="divider"></li>
            <li><%= link_to 'Add Exceptions', new_content_path %></li>
            <li class="divider"></li>
             <li><%= link_to "Sign out", signout_path, method: "delete" %></li>
          </ul>
        </li>
      <% else %>
        <li><%= link_to 'Sign in', signin_path %></li>
      <% end %>
<!-- END DROP DOWNS           -->
  </ul>
</nav	>

