<!DOCTYPE html>
<html>
<head>
				<title>The WriteUp App | <%= yield(:title) %></title>
  <%= stylesheet_link_tag    "application", media: "all", 
  							 "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
<!--[if lt IE 9]>
    <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
</head>
<body style="padding-left:10px">
<%= render 'layouts/header' %>
<<<<<<< HEAD
=======
<div style="padding-top:60px">
</div>
>>>>>>> 2e0fe8f8b6e49c0085ec4976cff37715ea0daf46
<%= yield %>
<p> Write Up App 2013 </p>
</body>
</html>
